localhost:2016 {
    proxy / localhost:8080 localhost:8081 {
        policy random
    }
    log / logs/access2016.log
}

localhost:8080 {
    root www
    errors {
        404 404.html
    }
    markdown
    ext .md .html
    basicauth user password {
        /secret
    }
    log / logs/access8080.log
    proxy /hypem hypem.com:80 {
        without /hypem
    }
    gzip
}

localhost:8081 {
    root www
    log / logs/access8081.log
}